* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100px;
}

header {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 20px;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
}

ul {
    display: flex;
    padding: 0;
    list-style: none;
}